.container {
  margin-top: 50px;
}

.card {
  border-radius: 10px;
}

.card-header {
  background-color: #fbaa53;
  color: #7b000a;
}

.custom-btn {
  background-color: #fbaa53;
  border-color: #fbaa53;
  color: #7b000a;
  font-weight: bold;
  height: 38px;
}

.custom-btn:hover {
  background-color: #e09b48;
  border-color: #e09b48;
  color: #7b000a;
}
