<div class="container mt-4">
  <app-pet-search (filterEvent)="applyFilter($event)"></app-pet-search>
  <div class="row mt-3">
    <div *ngFor="let pet of filteredPets" class="col-sm-6 col-md-4 col-lg-3 mb-4">
      <div class="card h-100">
        <img class="card-img-top" [src]="pet.image" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ pet.name }}</h5>
          <p class="card-text">{{ pet.description }}</p>
          <p class="card-text"><small class="text-muted">Age: {{ pet.age }}</small></p>
          <div class="d-flex justify-content-between">
            <a [routerLink]="['/pet-profile', pet.id]" class="btn btn-primary">Details</a>
            <button class="btn btn-adopt" (click)="initiateAdoption(pet.id)">Adopt</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>