<nav class="navbar navbar-expand-lg custom-bg">
  <a class="navbar-brand text-white" href="#">Pet Adoption</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item custom-nav-item">
        <a class="nav-link custom-nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item custom-nav-item">
        <a class="nav-link custom-nav-link" routerLink="/pet-list">Pets</a>
      </li>
    </ul>
    <div class="ml-auto pr-3">
      <app-pet-search></app-pet-search>
    </div>
  </div>
</nav>
