.pet-search {
  padding: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.pet-search input,
.pet-search select,
.pet-search button {
  margin-bottom: 0;
  padding: 10px;
}

.pet-search label {
  margin-bottom: 0;
}

.pet-search .col-auto {
  display: flex;
  align-items: center;
}

.custom-btn {
  background-color: #fbaa53;
  border: #fbaa53;
  color: white;
}

.custom-btn:hover {
  background-color: #e09b48;
  border: #e09b48;
  color: white;
}