<div class="container mt-4 d-flex justify-content-center">
  <form (ngSubmit)="onSearch()" class="pet-search d-flex align-items-center flex-wrap justify-content-center">
    <div class="col-auto mb-2 me-2">
      <input
        type="text"
        class="form-control"
        placeholder="Search"
        [(ngModel)]="filterCriteria.searchText"
        name="searchText"
      />
    </div>
    <div class="col-auto mb-2 me-2">
      <select
        class="form-control"
        [(ngModel)]="filterCriteria.breed"
        name="breed"
      >
        <option value="">All Breeds</option>
        <option *ngFor="let breed of breeds" [value]="breed.id">
          {{ breed.breed }}
        </option>
      </select>
    </div>
    <div class="col-auto mb-2 me-2">
      <select
        class="form-control"
        [(ngModel)]="filterCriteria.gender"
        name="gender"
      >
        <option value="">All Genders</option>
        <option value="MALE">Male</option>
        <option value="FEMALE">Female</option>
      </select>
    </div>
    <div class="col-auto mb-2 me-2">
      <select
        class="form-control"
        [(ngModel)]="filterCriteria.size"
        name="size"
      >
        <option value="">All Sizes</option>
        <option value="Small">Small</option>
        <option value="Medium">Medium</option>
        <option value="Large">Large</option>
      </select>
    </div>
    <div class="col-auto mb-2 me-2 d-flex align-items-center">
      <label for="minAge" class="form-label mb-0 me-2">Min Age</label>
      <input
        type="number"
        class="form-control age-input"
        id="minAge"
        [(ngModel)]="filterCriteria.minAge"
        name="minAge"
        min="0"
        max="20"
      />
    </div>
    <div class="col-auto mb-2 me-2 d-flex align-items-center">
      <label for="maxAge" class="form-label mb-0 me-2">Max Age</label>
      <input
        type="number"
        class="form-control age-input"
        id="maxAge"
        [(ngModel)]="filterCriteria.maxAge"
        name="maxAge"
        min="0"
        max="20"
      />
    </div>
    <div class="col-auto mb-2 me-2">
      <button type="submit" class="btn custom-btn mx-2">Filter</button>
    </div>
    <div class="col-auto mb-2 me-2">
      <button type="button" class="btn custom-btn mx-2" (click)="onReset()">Reset</button>
    </div>
  </form>
</div>