<div class="about-us-container">
    <h1>Sobre Nosotros</h1>
    <div class="about-us-content">
      <img src="assets/team-photo.jpg" alt="Nuestro equipo" class="team-photo">
      <p>Bienvenidos a SoulPaws. Somos un equipo apasionado por los animales y dedicados a ayudar a las mascotas a encontrar hogares amorosos.</p>
      <p>En nuestro país se hacía creciente la preocupación por el aumento de mascotas abandonadas, por lo que al amparo de la ley 7/2023 de 28 de marzo publicada en el BOE-A-2023-7936, donde se regula la adopción, se nos ocurrió la idea de facilitar el proceso para reducir el tiempo de estancia de las macotas en las diversas entidades de adopción. Con el fin de mejorar el bienestar de dichos animales, así como la reducción del tiempo en que dichas entidades tienen ocupadas la estancias de acogida, que en muchos casos se encuentran saturadas.
        Así es como nace nuestra idea y como la hemos puesto en práctica mediante la creación de esta página web donde las entidades de adopción muestran las mascotas disponibles y los posibles adoptantes pueden encontrar a su "crush" con patas que pasará a ser su alma gemela con patas y de ahí es donde viene nuestro nombre.</p>
      <p>Gracias por apoyar nuestra misión y ser parte de nuestra comunidad.</p>
    </div>
  </div>