<header class="bg-info text-white">
    <div class="container-fluid">
      <div class="row align-items-center py-2">
        <div class="col-md-6">
          <img src="assets/logo.png" alt="Logo" class="logo">
        </div>
        <div class="col-md-6 text-end">
          <button class="btn btn-light me-2" (click)="login()">Login</button>
          <button class="btn btn-light" (click)="register()">Register</button>
        </div>
      </div>
    </div>
    <app-nav-bar></app-nav-bar>
  </header>